<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538512845950-h428vctehh1bm13n6et0phh3hj4kjvbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538512845950-h428vctehh1bm13n6et0phh3hj4kjvbs</string>
	<key>API_KEY</key>
	<string>AIzaSyBYFtlV0F-KoE6Jyq8YMm7rSwAL1dulkKU</string>
	<key>GCM_SENDER_ID</key>
	<string>538512845950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseExample.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>example-app-3db94</string>
	<key>STORAGE_BUCKET</key>
	<string>example-app-3db94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538512845950:ios:461da9c60056afc4197c2f</string>
</dict>
</plist>